<div class="w-full max-w-2xl px-4 py-6 space-y-6 bg-white rounded-md dark:bg-darker">
  <div class="flex">
    <div class="w-1/2 h-600px overflow-y-auto border border-gray-200">
      <TaskComponent.render task={@task} error={@error} editing_task={@editing_task} />
    </div>
    <div class="w-1/2 h-600px overflow-y-auto border border-gray-200">
      <CommentsComponent.render comments={@streams.comments} target={@myself} />
    </div>
  </div>
</div>
