<%= for(datasource <- @datasources) do %>
  <ul>
    <li>
      <input type="checkbox" name={datasource.id} id="toggle" />
      <label for="toggle"><%= datasource.name %></label>
    </li>
  </ul>
<% end %>
