<!-- Brand -->
<a href="/">
    <img src="/images/logo.svg" width="40px"/>
</a>

<a
    href="/"
    class="inline-block text-2xl font-bold tracking-wider text-primary-dark dark:text-light">
    LiveSup
</a>
