<!-- Main footer -->
<footer class="flex items-center justify-between p-4 bg-white border-t dark:bg-darker dark:border-primary-darker fixed bottom-0 w-full">
    <div>LiveSup &copy; 2021</div>
    <div>
        Made by
        <a href="https://livesup.dev" target="_blank" class="text-blue-500 hover:underline">The LiveSup Authors</a>
    </div>
</footer>
