<!-- Main footer -->
<footer class="flex items-center justify-between p-4 bg-white border-t dark:bg-dark dark:border-primary-darker fixed bottom-0 w-full">
    <div>LiveSup &copy; 2022</div>
    <div>
        Made by
        <a href="https://github.com/livesup-dev/livesup" target="_blank" class="text-blue-500 hover:underline">The LiveSup Authors</a>
    </div>
</footer>
