<.html>
  <.head />
  <.body>
    <.preloader />
    <.page_wrapper>
      <.app_header_wrapper>
        <.app_header />
      </.app_header_wrapper>
      <%= @inner_content %>
    </.page_wrapper>
  </.body>
</.html>
