<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render("_head.html", conn: @conn) %>
  </head>

  <body>
    <div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color);" :class="{ 'dark': isDark}">
      <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">

        <%= render("_loading.html", conn: @conn) %>

        <div class="flex-1 h-full overflow-x-hidden overflow-y-auto">
          <!-- Navbar -->
          <header class="relative bg-white dark:bg-dark">
            <div class="flex items-center justify-between p-2 border-b dark:border-primary-darker">
              <%= render("_brand.html", conn: @conn) %>
              <%= render("_mobile_submenu_button.html", conn: @conn) %>
              <%= render("_right_buttons.html", conn: @conn) %>
              <%= render("_mobile_submenu.html", conn: @conn) %>
            </div>
          </header>

          <!-- Main content -->
          <main class="mb-16">

            <%= @inner_content %>

          </main>

          <%= render("_main_footer.html", conn: @conn) %>
        </div>

        <%= render("_panels.html", conn: @conn) %>
      </div>
    </div>

    <%= render("_footer_scripts.html", conn: @conn) %>
  </body>
</html>
